.modalOverlay {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.modalWindow {
  padding: 40px;
  max-width: 982px;
  max-height: 720px;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  overflow-y: auto;
}
